<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>luwenxull</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>luwenxull</string>
	<key>description</key>
	<string>查询苏州公交到站信息</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Suzhou Bus</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string>noreadme</string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string>ggoer.com</string>
</dict>
</plist>
